streamlit==1.29.0
numpy==1.24.4
pandas==2.2.2
plotly==5.21.0
openpyxl==3.1.2
scikit-posthocs==0.9.0
scikit-bio==0.5.9
scipy==1.10.1  # Required for spearmanr, pearsonr, and distance
scikit-learn==1.3.0  # Required for StandardScaler
setuptools>=68.0.0
wheel>=0.38.4
pip>=24.2  # Ensures the latest pip is used

